$primary-color: #292824;
$secondary-color: #ee7968;
$tertiary-color: #e3900f;
$quaternary-color: #701109;

$violeta: #f50089;
$coral: #ee7968;
$coral-yellow: #fcb857;
$coral-blue: #2797a3;
$mustard: #fdcc52;
$red: red;
$tomato: tomato;
$white: white;
$darkwhite: whitesmoke;
$black: black;
$dark: #320501;
$gif-dark: #292824;
$gif-yellow: #e3900f;
$grey: #57554f;