$primary-color: #ee7968;
$secundary-color: #2797a3;
$terciary-color: #fcb857;
$violeta: #f50089;
$coral: #ee7968;
$coral-yellow: #fcb857;
$coral-nlue: #2797a3;
$mustard: #fdcc52;
$red: tomato;
$white: white;
$darkwhite: whitesmoke;
$black: black;
$dark: darkgrey;