@import '../stylesheets/variables';


.primary-color {
  color: $primary-color;
}

.secundary-color {
  color: $secundary-color;
}

.terciary-color {
  color: $terciary-color;
}

.white-color {
  color: $white;
}

.black-color {
  color: $black;
}

.bg-primary-color {
  background-color: $primary-color;
}

.bg-secundary-color {
  background-color: $secundary-color;
}

.bg-terciary-color {
  background-color: $terciary-color;
}

.bg-white-color {
  background-color: $white;
}

.bg-black-color {
  background-color: $black;
}