@import '../stylesheets/variables';


.primary-color {
  color: $primary-color;
}

.primary-color-link {
  &:hover {
    color: $secundary-color;
  }
}

.secundary-color {
  color: $secundary-color;
}

.secundary-color-link {
  color: $secundary-color;
  
  &:hover {
    color: $terciary-color;
  }
}

.terciary-color {
  color: $terciary-color;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.bg-primary-color {
  background-color: $primary-color;
}

.bg-secundary-color {
  background-color: $secundary-color;
}

.bg-terciary-color {
  background-color: $terciary-color;
}

.bg-white-color {
  background-color: $white;
}

.bg-black-color {
  background-color: $black;
}