@import '../stylesheets/variables';


.primary-color {
  color: $primary-color;
}

.primary-color-link {
  &:hover {
    color: $secondary-color;
  }
}

.secondary-color {
  color: $secondary-color;
}

.secondary-color-link {
  color: $secondary-color;
  
  &:hover {
    color: $tertiary-color;
  }
}

.tertiary-color {
  color: $tertiary-color;
}

.quaternary-color {
  color: $quaternary-color;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.color-dark {
  color: $dark;
}

.dark-white-color {
  color: $darkwhite;
}

.bg-primary-color {
  background-color: $primary-color;
}

.bg-secondary-color {
  background-color: $secondary-color;
}

.bg-tertiary-color {
  background-color: $tertiary-color;
}

.bg-white-color {
  background-color: $white;
}

.bg-black-color {
  background-color: $black;
}

.bg-dark-color {
  background-color: $primary-color;
  color: white;
}

.bold {
  font-weight: 800;
}