@import '../stylesheets/variables';

// All the main presets of the account wil be here

body {
  font-family: 'Raleway', 'Quicksand', sans-serif;
  // font-family: 'Eina03', '-apple-system', 'BlinkMacSystemFont', 'Helvetica', 'Arial', 'sans-serif';
}

h1 {
  font-size: 2rem;
  margin: 0.4rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0.3rem;
}

h3 {
  font-size: 1.2rem;
  margin: 0.25rem;
}

p {
  font-size: 1em;
}

span {
  color: $primary-color;
}

a {
  color: black;
}

.cnt-pos {
  display: flex;
  justify-content: center;
  align-items: center;
}


