@import '../stylesheets/variables';

// All the main presets of the account wil be here

body {
  font-family: 'Raleway', 'Quicksand', sans-serif;
  line-height: 1.5;
  font-size: 1.25rem;
}

h1 {
  font-size: 3rem;
  padding: 0.4rem auto;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0.3rem auto;

  @media only screen and (max-width: 600px) {
    font-size: 2rem;
  }

}

h3 {
  font-size: 2rem;
  padding: 0.25rem auto;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.25rem auto;
}

p {
  font-size: 1.25rem;
}

span {
  color: $tertiary-color;
}

a {
  color: $secondary-color;
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

label {
  color: $tertiary-color;
}

