@import '../stylesheets/variables';

.nav {
  background-color: $primary-color;
  margin: 0;
  height: 2.5rem;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  
  a {
    padding: 0.25rem;
    color: $white;
    margin: auto 1.5rem
  }
}

.nav-home {
  background-color: transparent;
  margin: 0;
  height: 2.5rem;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;

  a {
    padding: 0.25rem;
    color: lightgrey;
    margin: auto 1.5rem
  }
}

.nav-after {
  padding-top: 2.5rem;
}