@import '../stylesheets/variables';

.nav {
  background-color: $tertiary-color;
  margin: 0;
  height: 6.5vh;;
  max-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-right: 1rem;
  padding-left: 1rem;

  a {
    padding: 0.25rem;
    color: $white;
    margin: auto 0.2rem;
    font-size: 1.3rem;

    &:hover {
      color: $tertiary-color;
    }
  }

  @media only screen and (min-width: 600px) {
    justify-content: flex-end;
  }

}

.nav-home {
  background-color: transparent;

  a {
    color: lightgrey;
  }
}

.nav-logout {
  padding: 0.25rem;
  color: $black;
  margin: auto 1.5rem;
  font-size: 1.3rem;

  &:hover {
    color: $tertiary-color;
  }
}

.nav-after {
  padding-top: 6vh;
}

.nav-after-m {
  margin-top: 6vh;
}

.op-bar {
  margin-top: 85vh;
  height: 15vh;
  max-height: 10rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: $darkwhite;
}

.icon {
  width: 5vh;
  height: 85%;  
  max-height: 2.5rem;
  background-color: $tertiary-color;
  display: flex;
  align-items: center;
}

.icon-home {
  background-color: transparent;
}
