// @mixin mt($number1) {
//   margin-top: $number;
// }

// .mt-1 {
//   @include mt(1rem, 3rem);
// }


// Margin tops

.mt-1 {
  margin-top: calc(1rem/3);
}

.mt-2 {
  margin-top: calc(1rem/2);
}

.mt-3 {
  margin-top: calc(1rem);
}

.mt-4 {
  margin-top: calc(4rem/3);
}

.mt-5 {
  margin-top: calc(5rem/3);
}

.mt-6 {
  margin-top: calc(2rem);
}

// Margin bottom

.mb-1 {
  margin-bottom: calc(1rem/3);
}

.mb-2 {
  margin-bottom: calc(1rem/2);
}

.mb-3 {
  margin-bottom: calc(1rem);
}

.mb-4 {
  margin-bottom: calc(4rem/3);
}

.mb-5 {
  margin-bottom: calc(5rem/3);
}

.mb-6 {
  margin-bottom: calc(2rem);
}

// Margin left

.ml-1 {
  margin-left: calc(1rem/3);
}

.ml-2 {
  margin-left: calc(1rem/2);
}

.ml-3 {
  margin-left: calc(1rem);
}

.ml-4 {
  margin-left: calc(4rem/3);
}

.ml-5 {
  margin-left: calc(5rem/3);
}

.ml-6 {
  margin-left: calc(2rem);
}

// Margin right

.mr-1 {
  margin-right: calc(1rem/3);
}

.mr-2 {
  margin-right: calc(1rem/2);
}

.mr-3 {
  margin-right: calc(1rem);
}

.mr-4 {
  margin-right: calc(4rem/3);
}

.mr-5 {
  margin-right: calc(5rem/3);
}

.mr-6 {
  margin-right: calc(2rem);
}
