@import '../stylesheets/variables';

///////// USER PROFILE CARDS ////////////

.your-profile {
  width: 100%;
  @media only screen and (min-width: 900px) {
    width: 40%;
    position: fixed;
  }
}

.your-opinions {
  width: 100%;
  @media only screen and (min-width: 900px) {
    margin-left: 40%;
    width: 60%;
  }
}

.profile-title {
  margin-left: 5%;
  margin-right: 5%;
}

.profile-user-card {
  text-align: center;
  padding: 2rem;
  padding-bottom: 3rem;
  border: 0.5px solid rgba(50, 50, 73, 0.3);
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 12.5px 20px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.data-pie {
  path: $primary-color;
}

///// custom.css for the stats ////

.circular-secundary {
  width: 108%!important;
  
  .CircularProgressbar-path {
    stroke: $terciary-color!important;
    fill: $terciary-color!important;

    &:hover {
      stroke: $secundary-color!important;
      fill: $secundary-color!important; 
    }
  }
  .CircularProgressbar-trail {
    stroke: $darkwhite!important;
    fill: transparent!important;
  }

  .CircularProgressbar-text {
    // stroke: pink!important;
    fill: $terciary-color!important;

    &:hover {
      fill: $secundary-color!important; 
    }
  }

  .CircularProgressbar-background {
    // stroke: pink!important;
    // fill: pink!important;
  }
}

.circular-prediv {
  max-width: 50%;
}

.circular-uop {
  width: 108%!important;
  
  .CircularProgressbar-path {
    stroke: $secundary-color!important;
    fill: $secundary-color!important;
  }

  .CircularProgressbar-trail {
    stroke: $terciary-color!important;
    fill: transparent!important;
  }

  .CircularProgressbar-text {
    // stroke: pink!important;
    fill: $secundary-color!important;
  }

  .CircularProgressbar-background {
    // stroke: pink!important;
    // fill: pink!important;
  }
}


.bg-micra {
  background-image: url('https://pixel.nymag.com/imgs/daily/vulture/2018/11/02/02-avatar-2.w700.h700.jpg');
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}


//////// CARD STRUCTURE IN PROFILE ////////////

.profile-opinion-card {
  text-align: center;
  padding: 2rem 1.5rem 2rem 2rem;
  border: 0.5px solid rgba(50, 50, 73, 0.3);
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 12.5px 20px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.profile-opinion-text {
  width: 75%;
  margin: auto 1rem auto auto;
}

.profile-opinion-graph {
  width: 25%;
  display: flex;
  align-items: center;
}

.profile-name {
  font-weight: 600;
  font-size: 1.7rem;
}
.profile-description {
  font-weight: 400;
  color: $dark;
}

.profile-scores-text {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.2rem;
}

///////// EDIT PROFILE //////////

.profile-edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-img {
  width: 100%;
  height: 90vw;

  @media only screen and (min-width: 500px) {
    max-width: 400px;
    height: 400px;
  }
}

.profile-upload-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 100%;
  color: white; 
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 5%;

}

.profile-edit-user {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 100%;
  
  @media only screen and (min-width: 500px) {
    max-width: 400px;  
  }

  label {
    font-weight: 600;
    color: $secundary-color
  }
}

// .profile-edit-form {
//   width: 90vw;

//   @media only screen and (min-width: 500px) {
//     width: 100%;
//   }
// }

.profile-edit-box {
  width: 100%;
  border-radius: 5%;
  border: 3px solid $secundary-color;
  font-family: 'Raleway', 'Quicksand', sans-serif;
  font-size: 1rem;
}

.profile-edit-username {
  height: 2rem;
}

.profile-edit-description {
  height: 5rem;
}

